{# {% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %} #}


{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	<!-- ================> Page header start here <================== -->
	<section class="page-header bg--cover" style="background-image:url(assets/images/header/1.png)">
		<div class="container">
			<div class="page-header__content" data-aos="fade-right" data-aos-duration="1000">
				<h2>Login</h2>
				<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Home</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">Login</li>
					</ol>
				</nav>
			</div>
			<div class="page-header__shape">
				<span class="page-header__shape-item page-header__shape-item--1"><img src="assets/images/header/2.png" alt="shape-icon"></span>
			</div>
		</div>
	</section>
	<!-- ================> Page header end here <================== -->

	<!-- ===============>> account start here <<================= -->
	<section class="account padding-top padding-bottom sec-bg-color2">
		<div class="container">
			<div class="account__wrapper" data-aos="fade-up" data-aos-duration="800">
				<div class="row g-4">
					<div class="col-lg-12">
						<div
							class="account__content account__content--style1">

							<!-- account title -->
							<div class="account__header">
								<h2>Welcome back!</h2>
								<p>Hey there! Ready to log in? Just enter your username and password below and you'll be back in action in no time. Let's go!</p>
							</div>

							<!-- account social -->
							<div class="account__social">
								<a href="#" class="account__social-btn">
									<span><img src="assets/images/others/google.svg" alt="google icon"></span>
									Continue with Google
								</a>
							</div>

							<!-- account divider -->
							<div class="account__divider account__divider--style1">
								<span>or</span>
							</div>

							{# Affichage de l'erreur si elle existe #}
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							<!-- account form -->
							<form action="{{ path('app_login') }}" method="post" class="account__form needs-validation" novalidate>
								{% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}

								{% if app.user %}
									<div class="mb-3">
										You are logged in as
										{{ app.user.userIdentifier }},
										<a href="{{ path('app_logout') }}">Logout</a>
									</div>
								{% endif %}
								<div class="row g-4">
									<div class="col-12">
										<div>
                                            <label for="inputEmail" class="form-label">Email</label>
											{# <label for="username" class="form-label">Email</label> #}
                                            <input type="email" class="form-control" value="{{ last_username }}" placeholder="Enter your email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
											{# <input type="email" class="form-control" id="username" name="_username" placeholder="Enter your email" value="{{ last_username }}" required autofocus> #}
										</div>
									</div>
									<div class="col-12">
										<div class="form-pass">
                                            <label for="inputPassword" class="form-label">Password</label>
											{# <label for="password" class="form-label">Password</label> #}
                                            <input type="password" class="form-control showhide-pass" name="password" id="inputPassword" placeholder="Password" autocomplete="current-password" required>
											{# <input type="password" class="form-control showhide-pass" id="password" name="_password" placeholder="Password" required> #}
											<button type="button" id="btnToggle" class="form-pass__toggle">
												<i id="eyeIcon" class="fa fa-eye"></i>
											</button>
										</div>
									</div>
								</div>

								<div class="account__check">
									<div class="account__check-remember">
										<input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on">
										<label for="remember_me" class="form-check-label">Remember me</label>
									</div>
									{# <div class="account__check-forgot">
									                    <a href="{{ path('app_forgot_password') }}">Forgot Password?</a>
									                  </div> #}
								</div>

								<button type="submit" class="trk-btn trk-btn--border trk-btn--primary d-block mt-4">Sign in</button>
							</form>

							<div class="account__switch">
								<p>Don't have an account?
									<a href="{{ path('app_register') }}">Sign up</a>
								</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="account__shape">
			<span class="account__shape-item account__shape-item--1">
				<img src="assets/images/contact/4.png" alt="shape-icon">
			</span>
		</div>
	</section>
	<!-- ===============>> account end here <<================= -->
{% endblock %}
