{% extends 'base.html.twig' %}

{% block body %}

			<!-- ================> Page header start here <================== -->
			<section class="page-header bg--cover" style="background-image:url({{ asset('assets/images/header/1.png') }})">
				<div class="container">
					<div class="page-header__content" data-aos="fade-right" data-aos-duration="1000">
						<h2>Contact Us</h2>
						<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item ">
									<a href="index-2.html">Home</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
							</ol>
						</nav>
					</div>
					<div class="page-header__shape">
						<span class="page-header__shape-item page-header__shape-item--1"><img src="{{ asset('assets/images/header/2.png') }}" alt="shape-icon"></span>
					</div>
				</div>
			</section>
			<!-- ================> Page header end here <================== -->


			<!-- ===============>> Contact section start here <<================= -->
			<div class="contact padding-top padding-bottom">
				<div class="container">
					<div class="contact__wrapper">
						<div class="row g-5">
							<div class="col-md-5">
								<div class="contact__info" data-aos="fade-right" data-aos-duration="1000">
									<div class="contact__social">
										<h3>let’s
											<span>get in touch</span>
											with us</h3>
										<ul class="social">
											<li class="social__item">
												<a href="#" class="social__link social__link--style4 active">
													<i class="fab fa-facebook-f"></i>
												</a>
											</li>
											<li class="social__item">
												<a href="#" class="social__link social__link--style4 ">
													<i class="fab fa-instagram"></i>
												</a>
											</li>
											<li class="social__item">
												<a href="#" class="social__link social__link--style4">
													<i class="fa-brands fa-linkedin-in"></i>
												</a>
											</li>
											<li class="social__item">
												<a href="#" class="social__link social__link--style4">
													<i class="fab fa-youtube"></i>
												</a>
											</li>
											<li class="social__item">
												<a href="signin.html" class="social__link social__link--style4">
													<i class="fab fa-twitter"></i>
												</a>
											</li>
										</ul>
									</div>
									<div class="contact__details">
										<div class="contact__item" data-aos="fade-right" data-aos-duration="1000">
											<div class="contact__item-inner">
												<div class="contact__item-thumb">
													<span><img src="{{ asset('assets/images/contact/1.png') }}" alt="contact-icon" class="dark"></span>
												</div>
												<div class="contact__item-content">
													<p>
														0917749254
													</p>
													<p>
														0983888611
													</p>
												</div>
											</div>
										</div>
										<div class="contact__item" data-aos="fade-right" data-aos-duration="1100">
											<div class="contact__item-inner">
												<div class="contact__item-thumb">
													<span><img src="{{ asset('assets/images/contact/2.png') }}" alt="contact-icon" class="dark"></span>
												</div>
												<div class="contact__item-content">
													<p>
														Bitrader@gmail.com
													</p>
													<p>
														hello@gmail.com
													</p>
												</div>
											</div>
										</div>
										<div class="contact__item" data-aos="fade-right" data-aos-duration="1200">
											<div class="contact__item-inner">
												<div class="contact__item-thumb">
													<span><img src="{{ asset('assets/images/contact/3.png') }}" alt="contact-icon" class="dark"></span>
												</div>
												<div class="contact__item-content">
													<p>
														88 Sheridan Street
													</p>
													<p>
														534 Victoria Trail
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-7">
								{% for msg in app.flashes('success') %}
									<div class="alert alert-success">{{ msg }}</div>
								{% endfor %}

								<div class="contact__form">
									{{ form_start(form, {
                                        'attr': {
                                        'data-aos': 'fade-left',
                                        'data-aos-duration': '1000'
                                        }
                                    }) }}

									<div class="row g-4">

										<div class="col-12">
											<div>
												{{ form_label(form.name, 'Name', {'label_attr': {'class': 'form-label'}}) }}
												{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Full Name'}}) }}
											</div>
										</div>

										<div class="col-12">
											<div>
												{{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
												{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email here'}}) }}
											</div>
										</div>

										<div class="col-12">
											<div>
												{{ form_label(form.message, 'Message', {'label_attr': {'class': 'form-label'}}) }}
												{{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Enter Your Message', 'rows': '5'}}) }}
											</div>
										</div>

									</div>

									<button type="submit" class="trk-btn trk-btn--border trk-btn--primary mt-4 d-block">
										Contact us now
									</button>

									{{ form_end(form) }}
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="contact__shape">
					<span class="contact__shape-item contact__shape-item--1"><img src="{{ asset('assets/images/contact/4.png') }}" alt="shape-icon"></span>
					<span class="contact__shape-item contact__shape-item--2">
						<span></span>
					</span>
				</div>
			</div>
			<!-- ===============>> Contact section start here <<================= -->
{% endblock %}
